<!DOCTYPE html>
html
    head 
        title Pranav Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/bg7-removebg-preview.png", alt="Dance logo")
                    | PDA 
                li #[a(href="/") Home]
                li #[a(href="/") About Us]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Class info ]
                li #[a(href="/") Services]
        block content 
        footer#footer
            |Copyright 2022 pranav.com | All rights reserved