<!DOCTYPE html>
    head 
        style 
            include ../static/style.css 
    body 
     nav#navbar
        ul
            div#logo
                img(src="/static/bg7-removebg-preview.png", alt="Dance logo")
                | HDA 
            li #[a(href="/") Home]
            li #[a(href="/") About Us]
            li #[a(href="/") Contact Us]
            li #[a(href="/") Class info ]
            li #[a(href="/") Services]

    section#introsection 
        div Welcome to Pranav's Dance Academy 
        div.small Eat Sleep Dance Repeat
    section#missionsection
        h3 Our mission 
        div.card 
            h2  Dance platform 
            div.card-box 
                div.card-img
                    img(src="/static/bg4-removebg-preview.png", alt="")

                div.card-content 
                    p This is the best dance academy ever
        div.card 
            h2  Dance the way you like
            div.card-box 
                div.card-img
                    img(src="/static/bg5-removebg-preview (1).png", alt="")

                div.card-content 
                    p This is the best dance academy ever
        div.card 
            h2  Expert training 
            div.card-box 
                div.card-img
                    img(src="/static/bg6-removebg-preview.png", alt="")

                div.card-content 
                    p This is the best dance academy ever
    section#sponsorsection
        h3 Our sponsors 
        div#sponsors 
            img(src="/static/logo1.png", alt="Sponsor Image",Class = "spimg")
            img(src="/static/logo2.png", alt="Sponsor Image",Class = "spimg")
            img(src="/static/logo3.png", alt="Sponsor Image",Class = "spimg")
            img(src="/static/logo4.png", alt="Sponsor Image",Class = "spimg")
    footer#footer
        |Copyright 2022 pranav.com | All rights reserved
    script 
        include ../static/index.js 